doctype html
html

  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    link(rel='stylesheet', href='/stylesheets/index.css')

  body
    .main-container

      .title-bar
        .title-text berd
        br
        .title-subtext web design & development

      .title-image
        .title-image-inner
        .title-image-inner-2

        .title-panel(id="professional-panel")
          .panel-item 
          .panel-item 
          .panel-item 
          .panel-item(style="margin-right: 2.5vw;")

        .title-panel(id="projects-panel")
          .panel-item 
          .panel-item 
          .panel-item 
          .panel-item(style="margin-right: 2.5vw;")

        .title-panel(id="about-panel")

        .title-panel(id="contact-panel")

      .content
        .button-container
            .button.professional-button(onclick="showHidePanel('professional')")
              .button-text professional
            .button-phone.button-phone-professional
              .button-phone-item
              .button-phone-item
              .button-phone-item
              .button-phone-item

            .button.projects-button(onclick="showHidePanel('projects')")
              .button-text projects
            .button-phone.button-phone-projects
              .button-phone-item
              .button-phone-item
              .button-phone-item
              .button-phone-item

            .button.right.about-button(onclick="showHidePanel('about')")
              .button-text about
            .button-phone.button-phone-about

            .button.right.contact-button(onclick="showHidePanel('contact')")
              .button-text contact
            .button-phone.button-phone-contact

      .footer
        .footer-copyright © berd design & development, 2018


    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js").
    script(src="/javascripts/jquery.mousewheel.min.js").
    script.
    
      $(".title-panel").mousewheel(function(event) {
        if(event.deltaY != 0) {
          event.preventDefault();
          $(this).scrollLeft($(this).scrollLeft() + (event.deltaFactor*-event.deltaY));
        }
      });
      
      var openPanel = null;
      
      function showHidePanel(panel) {

        if (window.innerWidth > 800) {
        
          // Reset buttons
          $('.button').css('transform', 'translate(0%, 0%)');
          
          // if there is an openPanel
          if(openPanel != null){
            // if we clicked the same panel
            if($('#'+panel+'-panel').is(openPanel)) {
              // close it and unset openPanel
              $('.title-image-inner-2').fadeOut();
              openPanel.animate({width:'toggle'}, 100);
              openPanel = null;
              history.replaceState(null, null, ' ');
            // else close the openPanel and set a new one
            } else {
              openPanel.animate({width:'toggle'}, 100);
              window.location.hash = panel;
              $('.'+panel+'-button').css('transform', 'translate(0%, -2vh)');
              openPanel = $('#'+panel+'-panel');
              setTimeout(()=>{ openPanel.animate({width:'toggle'}, 200); }, 200);
            }
          // else set an openPanel
          } else {
            $('.title-image-inner-2').fadeIn();
            window.location.hash = panel;
            openPanel = $('#'+panel+'-panel');
            openPanel.animate({width:'toggle'}, 200);
            $('.'+panel+'-button').css('transform', 'translate(0%, -2vh)');
          }
          
        } else {
          if($('.button-phone-professional').css('display') == 'block' || $('.button-phone-projects').css('display') == 'block' || $('.button-phone-about').css('display') == 'block' || $('.button-phone-contact').css('display') == 'block') {
            var isClosing = $('.button-phone-'+panel).css('display') != 'block';
            if(isClosing) $('.button-phone').slideUp(10);
            setTimeout(()=>{
              if($('.button-phone-'+panel).css('display') != 'block'){
                $([document.documentElement, document.body]).animate({
                  scrollTop: $('.'+panel+'-button').offset().top - 15
                }, 200);
              }
              if(isClosing) {  $('.button-phone-'+panel).slideToggle(200); window.location.hash = panel; }
              else { $('.button-phone-'+panel).slideToggle(200); history.replaceState(null, null, ' '); }
            }, 20);
          } else {
            if($('.button-phone-'+panel).css('display') != 'block'){
              $([document.documentElement, document.body]).animate({
                scrollTop: $('.'+panel+'-button').offset().top - 15
              }, 200);
            }
            window.location.hash = panel;
            $('.button-phone-'+panel).slideToggle(200);
          }
        }
      }
      
      
      
      
      
      

















