doctype html
html

  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    link(rel='stylesheet', href='/stylesheets/index.css')

  body
    .main-container

      .title-bar
        .title-text berd

      .title-image
        .title-image-inner
          .title-image-text
            .title-image-text-inner web design & development

      .content
        .button-container
          a(href="#professional")
            .button.professional-button
              .button-text professional

          a(href="#projects")
            .button.projects-button
              .button-text projects

          a(href="#about")
            .button.right.about-button
              .button-text about

          a(href="#contact")
            .button.right.contact-button
              .button-text contact

      .footer
        .footer-copyright © Ben Remnant Design, 2018