doctype html
html

  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    link(rel='stylesheet', href='/stylesheets/index.css')

  body
    .main-container

      .title-bar
        .title-text berd

      .title-image
        .title-image-inner
          .title-image-text
            .title-image-text-inner web design & development

        .title-panel(id="professional-panel")
          .panel-item 
          .panel-item 
          .panel-item 
          .panel-item(style="margin-right: 2.5vw;")

        .title-panel(id="projects-panel")
          .panel-item 
          .panel-item 
          .panel-item 
          .panel-item(style="margin-right: 2.5vw;")

        .title-panel(id="about-panel")

        .title-panel(id="contact-panel")

      .content
        .button-container
            .button.professional-button(onclick="showHidePanel('professional')")
              .button-text professional
            .button-phone.button-phone-professional
              .button-phone-item
              .button-phone-item
              .button-phone-item
              .button-phone-item

            .button.projects-button(onclick="showHidePanel('projects')")
              .button-text projects
            .button-phone.button-phone-projects
              .button-phone-item
              .button-phone-item
              .button-phone-item
              .button-phone-item

            .button.right.about-button(onclick="showHidePanel('about')")
              .button-text about
            .button-phone.button-phone-about

            .button.right.contact-button(onclick="showHidePanel('contact')")
              .button-text contact
            .button-phone.button-phone-contact

      .footer
        .footer-copyright © berd design & development, 2018


    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js").
    script(src="/javascripts/jquery.mousewheel.min.js").
    script.
    
      $(".title-panel").mousewheel(function(event) {
        if(event.deltaY != 0) {
          event.preventDefault();
          $(this).scrollLeft($(this).scrollLeft() + (event.deltaFactor*-event.deltaY));
        }
      });
      
      function showHidePanel(panel) {
        if (window.innerWidth > 800) {
          if($('#professional-panel').css('display') == 'block' || $('#projects-panel').css('display') == 'block' || $('#about-panel').css('display') == 'block' || $('#contact-panel').css('display') == 'block'){
            $('.button').css('transform', 'translate(0%, 0%)');
            if($('#'+panel+'-panel').css('display') != 'block') { window.location.hash = panel; $('.'+panel+'-button').css('transform', 'translate(0%, -2vh)'); setTimeout(()=>{ $('#'+panel+'-panel').slideToggle(200);}, 100); }
            else { history.replaceState(null, null, ' '); }
            $('.title-panel').slideUp(200);
          } else {
            window.location.hash = panel;
            $('#'+panel+'-panel').slideToggle(200);
            $('.'+panel+'-button').css('transform', 'translate(0%, -2vh)');
          }
          
        } else {
          if($('.button-phone-'+panel).css('display') != 'block'){
            $([document.documentElement, document.body]).animate({
              scrollTop: $('.'+panel+'-button').offset().top - 15
            }, 200);
          }
          window.location.hash = panel;
          $('.button-phone-'+panel).slideToggle(200);
        }
      }
      
      
      
      
      
      

















