doctype html
html

  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/index.css')

  body
    .main-container
    
      //-.nav
        .nav-container
          .nav-container-inner
          
        .nav-button
          .glyphicon.glyphicon-menu-hamburger
          

      .title-bar
        .title-bar-inner
          .title-bar-inner-height
            .title-text berd
            br
            .title-subtext web design & development&nbsp;

            
      .hero-image-container
        .hero-image-container-inner
          .hero-image-container-inner-height
          
            .hero-image.hero-3(onclick="clickedHeroImage(3, this)")
              .hero-image-inner
            .hero-image.hero-2(onclick="clickedHeroImage(2, this)")
              .hero-image-inner
            .hero-image.hero-1(onclick="clickedHeroImage(1, this)")
              .hero-image-inner
            .hero-image.hero-0(onclick="clickedHeroImage(0, this)")
            
            .hero-button View more of our work
      
      
      //-.button-container
      
        .button.professional
          .button-text 
            span.button-title professional
            br
            span.button-desc previous commissioned work from a variety of clients
        
        .button-right
        
          .button.projects
            .button-text
              span.button-title projects
              br
              span.button-desc  personal hobbies that I do in my spare time
          
          .button-small-buttons
            .button.about
              .button-title about
            .button.contact
              .button-title contact
      
            
      .offer-container
        .offer-title Need a website?
        .offer-text Whether its a simple one page website to promote your brand or a large and complex tool,<br> we've got a unique solution for you.
        .offer-text Fill out our quick form below and we'll get back to you as soon as possible.
        .offer-button Website request form
              
              
      .projects-container
        .projects-title Tech Research Projects
        .projects-text At berd we like to keep up with all the rapidly advancing technology to gain a wider range of solutions for our clients.
        .projects-text Our main focus is on the Internet Of Things (IOT).
        .projects-text We use sensors to to gain real world information and display<br>that data in human readable ways on a website. 
        .projects-image-container
          img.projects-image(src="/images/aah.jpg")
        .projects-button View all projects
            
      .offer-container
        .offer-title About berd
        
        .offer-text
          span Our primary goal at <span style="color: var(--main-color); font-weight: 600;">berd</span> is to bring you a custom website on a platter.
        
        .offer-text
          span We want to make the whole process as simple as possible
          br
          span while still delivering a high quality product.
        
        .offer-text
          span Design, Development and Deployment.
          br
          span We take care of everything from start to finish.
        
      
      
      .footer 
        .footer-contact-title
          span Contact us
        .footer-contact
          span +64 27 203 4418
          br
          span ben.remnant@gmail.com
        .footer-copyright © berd design & development, 2018
        
        
    .mymodal-dimmer(onclick="modalClose()")
    .mymodal
      .mymodal-titlebar
      .mymodal-content


    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js").
    script(src="/javascripts/jquery.mousewheel.min.js").
    script.
    
        if(window.innerWidth < 600) {
            clickedHeroImage(1, $('.hero-1'))
        }
        
    
        function clickedHeroImage(id, elem) {
            if(window.innerWidth < 600) {
                if(id != 0) {
                    $('.hero-image').css('transform', '');
                    console.log($(elem).css('background-image'));
                    $('.hero-0').css('background-image', $(elem).css('background-image'));
                    $(elem).css('transform', 'translate(0px, -5px)');
                }
            }
        }

        // Override mouse scroll direction in the panels from vertical to horizontal 

        $(".title-panel").mousewheel(function(event) {
          if(event.deltaY != 0) {
            event.preventDefault();
            $(this).scrollLeft($(this).scrollLeft() + (event.deltaFactor*-event.deltaY));
          }
        });

        // ALTERING ANIMATIONS

        // Show modal
        function modalOpen(title, buttons) {

          var modalTitlebarHTML = '';

          // Set modal title
          modalTitlebarHTML += '<div class="mymodal-title">'+title+'</div>';

          // Add modal menu buttons (for desktop)
          buttons.split(':').forEach(function(item, index){
            modalTitlebarHTML += '<div class="mymodal-title-button index'+index+'">'+item+'</div>';
          });

          // Add modal menu dropdown (for phones)
          modalTitlebarHTML += '<div class="mymodal-dropdown">';
          buttons.split(':').forEach(function(item, index){
            modalTitlebarHTML += '<div class="mymodal-dropdown-button index'+index+'">'+item+'</div>';
          });
          modalTitlebarHTML += '</div>';

          // Add modal close button
          modalTitlebarHTML += '<div class="mymodal-close" onclick="modalClose()"><span class="glyphicon glyphicon-remove"></span></div>';

          // Add modal menu button (for phones)
          modalTitlebarHTML += '<div class="mymodal-menu" onclick="openModalMenu()"><span class="glyphicon glyphicon-menu-hamburger"></span></div>';

          $('.mymodal-titlebar').html(modalTitlebarHTML);

          // Make modal menu buttons clickable (for phones)
          $('.mymodal-dropdown-button').click(function(){
            clickedModalMenuButton($(this));
          });

          // Make modal menu buttons clickable (for desktop)
          $('.mymodal-title-button').click(function(){
            clickedModalMenuButton($(this));
          });
          
          // Stop scrolling on body
          $('body').css('overflow', 'hidden');

          // Show modal
          $('.mymodal-dimmer').fadeIn();
          $('.mymodal').slideToggle(200);

          // Select first modal menu button and start loading
          clickedModalMenuButton($('.mymodal-title-button').first());
        }

        function openModalMenu() {
          $(".mymodal-dropdown").slideToggle(200);
        }

        // Hide modal
        function modalClose() {
          
          // Start scrolling on body
          $('body').css('overflow', 'auto');
          
          $('.mymodal-dimmer').fadeOut();
          $('.mymodal').slideToggle(200);
          // Clear submenu buttons and current submenu page to save RAM
          setTimeout(function() {
            $('.mymodal-content').html('');
          }, 600);
        }

        // Click modal submenu button
        function clickedModalMenuButton(button){
          // Clear other submenu buttons and select the one that was clicked
          $('.mymodal-title-button').removeClass('selected');
          $('.mymodal-dropdown-button').removeClass('selected');

          var myClasses = $(button).attr('class').split(' ');
          for (var i = 0; i < myClasses.length; i++) {
            if (myClasses[i].startsWith("index")) {
              $('.' + myClasses[i]).addClass('selected');
            }
            if (myClasses[i] == 'mymodal-dropdown-button') {
              $(".mymodal-dropdown").slideToggle(200);
            }
          }
          $(button).addClass('selected');

          // Clear and show loading
          var loadingHTML = '<div class="mymodal-loading"></div>';
          $('.mymodal-content').html(loadingHTML);

          // Get new data from server and display it
          setTimeout(function() {
            var html = '<div class="mymodal-content-text">As part of our ongoing technology upgrade, we’re saying goodbye to some older services. And while this isn’t happening right away, new services can take a while to set up, so it’s worth getting onto it as soon as you can.</div>';
            html += '<div class="mymodal-content-image"></div>';
            html += '<div class="mymodal-content-text">As part of our ongoing technology upgrade, we’re saying goodbye to some older services. And while this isn’t happening right away, new services can take a while to set up, so it’s worth getting onto it as soon as you can.</div>';
            html += '<div class="mymodal-content-text">As part of our ongoing technology upgrade, we’re saying goodbye to some older services. And while this isn’t happening right away, new services can take a while to set up, so it’s worth getting onto it as soon as you can.</div>';
            html += '<div class="mymodal-content-image"></div>';
            $('.mymodal-content').html(html);
          }, 1000);
        }
    
      
      
        // Show or hide panels in the display panel

        var openPanel = null;

        function showHidePanel(panel) {
            return;
            if (window.innerWidth > 800) {

              // Reset buttons
              $('.button').css('transform', 'translate(0%, 0%)');
              
              // if there is an openPanel
              if(openPanel != null){
                // if we clicked the same panel
                if($('#'+panel+'-panel').is(openPanel)) {
                  // close it and unset openPanel
                  $('.title-image-inner-2').fadeOut();
                  openPanel.animate({width:'toggle'}, 200);
                  openPanel = null;
                  history.replaceState(null, null, ' ');
                // else close the openPanel and set a new one
                } else {
                  openPanel.animate({width:'toggle'}, 200);
                  window.location.hash = panel;
                  $('.'+panel+'-button').css('transform', 'translate(0%, -2vh)');
                  openPanel = $('#'+panel+'-panel');
                  setTimeout(()=>{ openPanel.animate({width:'toggle'}, 300); }, 250);
                }
              // else set an openPanel
              } else {
                $('.title-image-inner-2').fadeIn();
                window.location.hash = panel;
                openPanel = $('#'+panel+'-panel');
                openPanel.animate({width:'toggle'}, 300);
                $('.'+panel+'-button').css('transform', 'translate(0%, -2vh)');
              }
              
            } else {
              if($('.button-phone-professional').css('display') == 'block' || $('.button-phone-projects').css('display') == 'block' || $('.button-phone-about').css('display') == 'block' || $('.button-phone-contact').css('display') == 'block') {
                var isClosing = $('.button-phone-'+panel).css('display') != 'block';
                if(isClosing) $('.button-phone').slideUp(10);
                setTimeout(()=>{
                  if($('.button-phone-'+panel).css('display') != 'block'){
                    $([document.documentElement, document.body]).animate({
                      scrollTop: $('.'+panel+'-button').offset().top - 15
                    }, 200);
                  }
                  if(isClosing) {  $('.button-phone-'+panel).slideToggle(200); window.location.hash = panel; }
                  else { $('.button-phone-'+panel).slideToggle(200); history.replaceState(null, null, ' '); }
                }, 20);
              } else {
                if($('.button-phone-'+panel).css('display') != 'block'){
                  $([document.documentElement, document.body]).animate({
                    scrollTop: $('.'+panel+'-button').offset().top - 15
                  }, 200);
                }
                window.location.hash = panel;
                $('.button-phone-'+panel).slideToggle(200);
              }
            }
            
        }
      
      
      
      
      
      

















