doctype html
html

  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/index.css')

  body
    .main-container
      
      .title-bar
        .title-bar-inner
          .title-text berd
          .title-subtext web design &<br>development

      .title-image
        .title-image-inner
            
        .title-image-inner-2
        
        .panel-container

          .title-panel(id="professional-panel")
            .panel-title recent <span style="color: var(--main-color-bright);">professional</span> work
            
            .panel-item(onclick="modalOpen('DINZ', '')" style="background-position: 50% 0%; background-image: url('/images/dinz-website.jpg'); margin-left: 70px;")
              .panel-item-title
                .panel-item-title-text Danfoss NZ Website
              .panel-item-summary 
                span A unique collaboration tool built with Node.js for Danfoss NZ and their partners. 
                span Danfoss are a global company selling a variety engineered products from motor speed drives to pumps.
            
            .panel-item(onclick="modalOpen('Z Energy HTML Email', '')" style="background-position: 50% 0%; background-image: url('/images/z-energy-html.jpg');")
              .panel-item-title
                .panel-item-title-text Z Energy HTML Email
              .panel-item-summary 
            
            .panel-item(onclick="modalOpen('berd', '')" style="background-position: 50% 0%; background-image: url('/images/berd-website.jpg'); margin-right: 70px;")
              .panel-item-title
                .panel-item-title-text Berd Website
              .panel-item-summary 
                span This website aims to serve as a online portfolio for <span style="font-family: 'Aldrich', monospace;">berd</span> and a portal of communication for both new and existing clients.
            

          .title-panel(id="projects-panel")
            .panel-title recent personal <span style="color: var(--main-color-bright);">projects</span>
            
            .panel-item(onclick="modalOpen('Autonomous RC Car', 'Research:Development:Conclusion')" style="background-position: 50% 100%; background-image: url('/images/rc-car.jpg'); margin-left: 70px;")
              .panel-item-title
                .panel-item-title-text Autonomous RC Car
              .panel-item-summary Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam viverra, mauris id porttitor placerat, lorem quam sagittis turpis, vel mattis arcu risus semper orci.
            
            .panel-item(onclick="modalOpen('Solar Panels', 'Research:Development')" style="background-image: url('/images/solar-panel.jpg');")
              .panel-item-title
                .panel-item-title-text Solar Panels
              .panel-item-summary Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam viverra, mauris id porttitor placerat, lorem quam sagittis turpis, vel mattis arcu risus semper orci.
            
            .panel-item(onclick="modalOpen('Tomato Garden', 'Planting:Maintainence & Growth:Harvest')" style="background-position: 50% 20%; background-image: url('/images/tomato.jpg');")
              .panel-item-title
                .panel-item-title-text Tomato Garden
              .panel-item-summary Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam viverra, mauris id porttitor placerat, lorem quam sagittis turpis, vel mattis arcu risus semper orci.
            
            .panel-item(onclick="modalOpen('Power Monitor', 'Research:Development:Conclusion')" style="background-image: url('/images/PWRMTR.jpg'); margin-right: 70px;")
              .panel-item-title
                .panel-item-title-text Power Monitor
              .panel-item-summary Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam viverra, mauris id porttitor placerat, lorem quam sagittis turpis, vel mattis arcu risus semper orci.

          .title-panel(id="about-panel")
            .panel-title all <span style="color: var(--main-color-bright);">about</span> berd

          .title-panel(id="contact-panel")
            .panel-title how to <span style="color: var(--main-color-bright);">contact</span> us
        
        
        
      .button-container
            .button.professional-button(onclick="showHidePanel('professional')")
              .button-text professional
            .button-phone.button-phone-professional
              .button-phone-item
              .button-phone-item
              .button-phone-item

            .button.projects-button(onclick="showHidePanel('projects')")
              .button-text projects

            .button.right.about-button(onclick="showHidePanel('about')")
              .button-text about
            .button-phone.button-phone-about

            .button.right.contact-button(onclick="showHidePanel('contact')")
              .button-text contact
            .button-phone.button-phone-contact

      .footer
        .footer-copyright © berd design & development, 2018
        
    .mymodal-dimmer(onclick="modalClose()")
    .mymodal
      .mymodal-titlebar
      .mymodal-content


    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js").
    script(src="/javascripts/jquery.mousewheel.min.js").
    script.

        // Override mouse scroll direction in the panels from vertical to horizontal 

        $(".title-panel").mousewheel(function(event) {
          if(event.deltaY != 0) {
            event.preventDefault();
            $(this).scrollLeft($(this).scrollLeft() + (event.deltaFactor*-event.deltaY));
          }
        });

        // ALTERING ANIMATIONS

        // Show modal
        function modalOpen(title, buttons) {

          var modalTitlebarHTML = '';

          // Set modal title
          modalTitlebarHTML += '<div class="mymodal-title">'+title+'</div>';

          // Add modal menu buttons (for desktop)
          buttons.split(':').forEach(function(item, index){
            modalTitlebarHTML += '<div class="mymodal-title-button index'+index+'">'+item+'</div>';
          });

          // Add modal menu dropdown (for phones)
          modalTitlebarHTML += '<div class="mymodal-dropdown">';
          buttons.split(':').forEach(function(item, index){
            modalTitlebarHTML += '<div class="mymodal-dropdown-button index'+index+'">'+item+'</div>';
          });
          modalTitlebarHTML += '</div>';

          // Add modal close button
          modalTitlebarHTML += '<div class="mymodal-close" onclick="modalClose()"><span class="glyphicon glyphicon-remove"></span></div>';

          // Add modal menu button (for phones)
          modalTitlebarHTML += '<div class="mymodal-menu" onclick="openModalMenu()"><span class="glyphicon glyphicon-menu-hamburger"></span></div>';

          $('.mymodal-titlebar').html(modalTitlebarHTML);

          // Make modal menu buttons clickable (for phones)
          $('.mymodal-dropdown-button').click(function(){
            clickedModalMenuButton($(this));
          });

          // Make modal menu buttons clickable (for desktop)
          $('.mymodal-title-button').click(function(){
            clickedModalMenuButton($(this));
          });
          
          // Stop scrolling on body
          $('body').css('overflow', 'hidden');

          // Show modal
          $('.mymodal-dimmer').fadeIn();
          $('.mymodal').slideToggle(200);

          // Select first modal menu button and start loading
          clickedModalMenuButton($('.mymodal-title-button').first());
        }

        function openModalMenu() {
          $(".mymodal-dropdown").slideToggle(200);
        }

        // Hide modal
        function modalClose() {
          
          // Start scrolling on body
          $('body').css('overflow', 'auto');
          
          $('.mymodal-dimmer').fadeOut();
          $('.mymodal').slideToggle(200);
          // Clear submenu buttons and current submenu page to save RAM
          setTimeout(function() {
            $('.mymodal-content').html('');
          }, 600);
        }

        // Click modal submenu button
        function clickedModalMenuButton(button){
          // Clear other submenu buttons and select the one that was clicked
          $('.mymodal-title-button').removeClass('selected');
          $('.mymodal-dropdown-button').removeClass('selected');

          var myClasses = $(button).attr('class').split(' ');
          for (var i = 0; i < myClasses.length; i++) {
            if (myClasses[i].startsWith("index")) {
              $('.' + myClasses[i]).addClass('selected');
            }
            if (myClasses[i] == 'mymodal-dropdown-button') {
              $(".mymodal-dropdown").slideToggle(200);
            }
          }
          $(button).addClass('selected');

          // Clear and show loading
          var loadingHTML = '<div class="mymodal-loading"></div>';
          $('.mymodal-content').html(loadingHTML);

          // Get new data from server and display it
          setTimeout(function() {
            var html = '<div class="mymodal-content-text">As part of our ongoing technology upgrade, we’re saying goodbye to some older services. And while this isn’t happening right away, new services can take a while to set up, so it’s worth getting onto it as soon as you can.</div>';
            html += '<div class="mymodal-content-image"></div>';
            html += '<div class="mymodal-content-text">As part of our ongoing technology upgrade, we’re saying goodbye to some older services. And while this isn’t happening right away, new services can take a while to set up, so it’s worth getting onto it as soon as you can.</div>';
            html += '<div class="mymodal-content-text">As part of our ongoing technology upgrade, we’re saying goodbye to some older services. And while this isn’t happening right away, new services can take a while to set up, so it’s worth getting onto it as soon as you can.</div>';
            html += '<div class="mymodal-content-image"></div>';
            $('.mymodal-content').html(html);
          }, 1000);
        }
    
      
      
        // Show or hide panels in the display panel

        var openPanel = null;

        function showHidePanel(panel) {

        if (window.innerWidth > 800) {

          // Reset buttons
          $('.button').css('transform', 'translate(0%, 0%)');
          
          // if there is an openPanel
          if(openPanel != null){
            // if we clicked the same panel
            if($('#'+panel+'-panel').is(openPanel)) {
              // close it and unset openPanel
              $('.title-image-inner-2').fadeOut();
              openPanel.animate({width:'toggle'}, 200);
              openPanel = null;
              history.replaceState(null, null, ' ');
            // else close the openPanel and set a new one
            } else {
              openPanel.animate({width:'toggle'}, 200);
              window.location.hash = panel;
              $('.'+panel+'-button').css('transform', 'translate(0%, -2vh)');
              openPanel = $('#'+panel+'-panel');
              setTimeout(()=>{ openPanel.animate({width:'toggle'}, 300); }, 250);
            }
          // else set an openPanel
          } else {
            $('.title-image-inner-2').fadeIn();
            window.location.hash = panel;
            openPanel = $('#'+panel+'-panel');
            openPanel.animate({width:'toggle'}, 300);
            $('.'+panel+'-button').css('transform', 'translate(0%, -2vh)');
          }
          
        } else {
          if($('.button-phone-professional').css('display') == 'block' || $('.button-phone-projects').css('display') == 'block' || $('.button-phone-about').css('display') == 'block' || $('.button-phone-contact').css('display') == 'block') {
            var isClosing = $('.button-phone-'+panel).css('display') != 'block';
            if(isClosing) $('.button-phone').slideUp(10);
            setTimeout(()=>{
              if($('.button-phone-'+panel).css('display') != 'block'){
                $([document.documentElement, document.body]).animate({
                  scrollTop: $('.'+panel+'-button').offset().top - 15
                }, 200);
              }
              if(isClosing) {  $('.button-phone-'+panel).slideToggle(200); window.location.hash = panel; }
              else { $('.button-phone-'+panel).slideToggle(200); history.replaceState(null, null, ' '); }
            }, 20);
          } else {
            if($('.button-phone-'+panel).css('display') != 'block'){
              $([document.documentElement, document.body]).animate({
                scrollTop: $('.'+panel+'-button').offset().top - 15
              }, 200);
            }
            window.location.hash = panel;
            $('.button-phone-'+panel).slideToggle(200);
          }
        }
        }
      
      
      
      
      
      

















