doctype html
html

  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/phone.css')

  body
    .phone-title-container
      .phone-title BeRD

    .phone-personal-container
      .phone-personal-text Personal

    .phone-professional-container
      .phone-professional-text Professional

    .phone-about-container
      .phone-about-text About

    .phone-footer-container
      .phone-footer-text Contact
