/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@import url(https://fonts.googleapis.com/css?family=Aldrich);

:root {
  --main-color: #0094FF;
  --main-color-bright: #4DB4FF;
}

body {
  background: #FFFFFF;
  font-family: 'Anonymous Pro', monospace;
  color: #555555;
  margin: 0px;
}

.main-container {
	position: relative;
	min-height: calc(100vh - 100px);
}


/* Title */

.title-bar {
	padding-top: 5px;
	padding-bottom: 5px;
	background: var(--main-color);
	color: #FFFFFF;
	text-align: center;
}

.title-text {
    font-family: 'Aldrich', monospace;
	font-size: 50px;
	font-weight: bold;
}

.title-subtext {
	font-size: 20px;
	font-weight: bold;
}

.title-image {
	position: relative;
	height: 48vh;
	background: var(--main-color-bright);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	background-image: url('/images/title-image-3.jpg');
}

.title-image-inner {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: rgba(0,148,255,0.3);
}

.title-image-text {
	position: absolute;
	top: 4vh;
	left: 0px;
	right: 0px;
	
	color: #FFFFFF;
	text-align: center;
	font-size: 33px;
	font-weight: 600;
	line-height: 48px;
}
.title-image-text-inner {
    display: inline-block;
	background: rgba(0,0,0,0.2);
	padding: 5px;
	padding-left: 30px;
	padding-right: 30px;
}


/* Content */

.content {
	position: relative;
	max-width: 1600px;
	margin: 0 auto;
}

.button-container {
	padding-top: 4vh;
	padding-bottom: 6vh;
	overflow: auto;
}

.button {
	position: relative;
	float: left;
	height: 28vh;
	width: 22.5%;
	margin-left: 2%;
	border-radius: 7px;
	background: var(--main-color);
	background-repeat: no-repeat;
	cursor: pointer;
	box-shadow: 0 10px 30px rgba(0,0,0,0.30), 0 5px 10px rgba(0,0,0,0.20), inset 0px -30px 20px rgba(0,0,0,0.40);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.button:hover {
	transform: translate(0px, -5px);
	box-shadow: 0 15px 35px rgba(0,0,0,0.40), 0 10px 15px rgba(0,0,0,0.30), inset 0px -30px 20px rgba(0,0,0,0.40);
}

.button-text {
	position: absolute;
	bottom: 8px;
	left: 0px;
	right: 0px;
	font-size: 21px;
	font-weight: bold;
	text-align: center;
	color: white;
}

.professional-button {
	background-position: 50% 65%;
	background-size: cover;
	background-image: url('/images/professional.jpg');
}

.projects-button {
	background-position: 50% 50%;
	background-size: cover;
	background-image: url('/images/projects.jpg');
}

.about-button {
	background-position: 50% 50%;
	background-size: cover;
	background-image: url('/images/about.jpg');
}

.contact-button {
	background-position: 50% 50%;
	background-size: cover;
	background-image: url('/images/contact.jpg');
}


/* Footer */

.footer {
}

.footer-copyright {
    color: #000;
	text-align: center;
	font-size: 13px;
}


/* Media */

@media only screen and (max-width: 800px) {
  .title-image {
	height: 18vh;
    margin-bottom: 25px;
  }
  .title-image-text {
	top: calc(50% - 30px);
	font-size: 20px;
  }
  
  .button-container {
	padding: 0px;
  }
  
  .button {
	height: 32vh;
	width: calc(100% - 30px);
	margin: 15px;
	margin-top: 0px;
	margin-bottom: 25px;
  }
  
  .button.right {
	margin-right: 15px;
  }
  
  .button:hover {
	box-shadow: 0 10px 30px rgba(0,0,0,0.30), 0 5px 10px rgba(0,0,0,0.20), inset 0px -30px 20px rgba(0,0,0,0.40);
	transform: translate(0px, 0px);
  }
  .footer {
	padding-top: 25px;
	padding-bottom: 20px;
  }
}
