/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@import url(https://fonts.googleapis.com/css?family=Aldrich);

:root {
  --main-color: #0094FF;
  --main-color-bright: #4DB4FF;
}

body {
  background: #FFFFFF;
  font-family: 'Anonymous Pro', monospace;
  color: #555555;
  margin: 0px;
}

.main-container {
	position: relative;
	min-height: calc(100vh - 100px);
}


/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

@media only screen and (max-width: 820px) {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
}


/* Title */

.title-bar {
	position: relative;
	background: var(--main-color);
	color: #FFFFFF;
	text-align: center;
	padding: 4px;
	box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
	z-index: 10;
}

.title-text {
	margin-top: 25px;
    font-family: 'Aldrich', monospace;
	font-size: 48px;
	font-weight: bold;
	line-height: 20px;
}

.title-subtext {
	margin-top: 2px;
	margin-bottom: 12px;
    font-family: 'Aldrich', monospace;
	font-size: 20px;
	line-height: 20px;
}

.title-image {
	position: relative;
	height: 340px;
	background: var(--main-color-bright);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	background-image: url('/images/hero.jpg');
}

.title-image-inner {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: rgba(0,148,255,0.3);
}

.title-image-inner-2 {
	display: none;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: rgba(0,0,0,0.6);
}

.title-image-text {
	position: absolute;
	top: 5vh;
	left: 0px;
	right: 0px;
	
	color: #FFFFFF;
	text-align: center;
	font-size: 23px;
	font-weight: 500;
	line-height: 48px;
}

.title-image-text-inner {
    display: inline-block;
	background: rgba(0,0,0,0.2);
	padding: 5px;
	padding-left: 30px;
	padding-right: 30px;
    border-radius: 5px;
}


/* Title Panel */

.title-panel {
	display: none;
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	padding-top: 100px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.panel-item {
	display: inline-block;
    position: relative;
	height: 240px;
	width: 400px;
	margin-top: 40px;
	margin-left: 2.5vw;
	background: var(--main-color);
	box-shadow: 0 10px 30px rgba(0,0,0,0.30), 0 5px 10px rgba(0,0,0,0.20);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 6px;
    cursor: pointer;
}

.panel-item:hover {
	transform: translate(0px, -5px);
	box-shadow: 0 15px 35px rgba(0,0,0,0.40), 0 10px 15px rgba(0,0,0,0.30);
}

.panel-bottom {
	position: absolute;
	bottom: 0px;
	left: 0px;
}


/* Content */

.content {
	position: relative;
	margin: 0 auto;
}

.button-container {
	position: relative;
	padding-top: 40px;
	padding-bottom: 30px;
	overflow: auto;
	margin: 0 auto;
	max-width: 1200px;
	margin-bottom: 15px;
}

.button {
	position: relative;
	bottom: 0px;
	float: left;
	height: 170px;
	width: 22.5%;
	margin-left: 2%;
	border-radius: 5px;
	background: var(--main-color);
	background-repeat: no-repeat;
	cursor: pointer;
	box-shadow: 0 10px 30px rgba(0,0,0,0.30), 0 5px 10px rgba(0,0,0,0.20), inset 0px -30px 20px rgba(0,0,0,0.40);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.button:hover {
	bottom: 5px;
	box-shadow: 0 15px 35px rgba(0,0,0,0.40), 0 10px 15px rgba(0,0,0,0.30), inset 0px -30px 20px rgba(0,0,0,0.40);
}

.button-text {
	position: absolute;
	bottom: 8px;
	left: 0px;
	right: 0px;
	font-size: 21px;
	font-weight: bold;
	text-align: center;
	color: white;
}

.professional-button {
	background-position: 50% 50%;
	background-size: cover;
	background-image: url('/images/professional.jpg');
}

.projects-button {
	background-position: 50% 50%;
	background-size: cover;
	background-image: url('/images/projects.jpg');
}

.about-button {
	background-position: 50% 50%;
	background-size: cover;
	background-image: url('/images/about.jpg');
}

.contact-button {
	background-position: 50% 50%;
	background-size: cover;
	background-image: url('/images/contact.jpg');
}


/* Footer */

.footer {
}

.footer-copyright {
    color: #000;
	text-align: center;
	font-size: 13px;
}


/* Media */

@media only screen and (max-width: 800px) {
  .title-bar {
	padding: 5px;
	padding-top: 15px;
	margin-bottom: 25px;
  }
  
  .title-image {
	display: none;
	height: 22vh;
    margin-bottom: 25px;
  }
  
  .title-image-inner {
	background: rgba(0,148,255,0.4);
  }
  
  .title-image-text-inner {
  }
  
  .title-image-text {
	top: calc(50% - 25px);
	font-size: 20px;
  }
  
  .button-container {
	height: auto;
	padding: 0px;
	padding-bottom: 10px;
  }
  
  .button {
	height: 200px;
	width: calc(100% - 30px);
	max-height: none;
	max-width: none;
	margin: 15px;
	margin-top: 0px;
	margin-bottom: 25px;
  }
  
  .button.right {
	margin-right: 15px;
  }
  
  .button:hover {
	box-shadow: 0 10px 30px rgba(0,0,0,0.30), 0 5px 10px rgba(0,0,0,0.20), inset 0px -30px 20px rgba(0,0,0,0.40);
	bottom: 0px;
  }
  
  .title-panel {
    visibility: hidden;
  }
  
  .button-phone {
    display: none;
    float: left;
	width: 100vw;
	height: 234px;
	margin: 0px;
	margin-top: 0px;
	margin-bottom: 35px;
    background: #eee;
	box-shadow: inset 0px 3px 10px rgba(0,0,0,0.3);
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }
  
  .button-phone-item {
    display: inline-block;
	height: 180px;
	width: 300px;
    margin-left: 20px;
    margin-top: 25px;
    margin-bottom: 19px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.30), 0 2px 5px rgba(0,0,0,0.20);
	background: var(--main-color);
    border-radius: 5px;
  }
  .button-phone .button-phone-item:last-child {
    margin-right:20px;
  }
  
  .footer {
	padding-top: 0px;
	padding-bottom: 20px;
  }
}
