/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@import url(https://fonts.googleapis.com/css?family=Aldrich);

.toolbar {
  position: absolute;
  left: -300px;
  width: 300px;
  height: 100%;
  overflow: auto;

  background: var(--main-color);
  -webkit-transition: transform 0.5s;
  transition: transform 0.5s;
}

.toolbar-logo {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 81px;
  height: 43px;
  background-color: #fff;
  background-image: url('/images/BeRD_logo_white.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.toolbar-home {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 36px;
  height: 33px;
  padding-top: 5px;

  font-size: 19px;
  text-align: center;
  color: #fff;

  cursor: pointer;
  border-radius: 1px;

  -webkit-transition: background 0.1s, color 0.1s;
  transition: background 0.1s, color 0.1s;
}

.toolbar-home:hover {
  background: #fff;
  color: var(--main-color);
}

.toolbar-hide {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 36px;
  height: 33px;
  padding-top: 5px;

  font-size: 19px;
  text-align: center;
  color: #fff;

  cursor: pointer;
  border-radius: 1px;

  -webkit-transition: background 0.1s, color 0.1s;
  transition: background 0.1s, color 0.1s;
}

.toolbar-hide:hover {
  background: #fff;
  color: var(--main-color);
}

.toolbar-show {
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: 36px;
  height: 33px;
  padding-top: 5px;

  font-size: 19px;
  text-align: center;
  color: #fff;
  background: var(--main-color);

  cursor: pointer;
  border-radius: 1px;

  -webkit-transition: background 0.1s, color 0.1s;
  transition: background 0.1s, color 0.1s;
}

.toolbar-show:hover {
  background: #fff;
  color: var(--main-color);
}

/* toolbar title */

.toolbar-title-holder {
  position: relative;
  background: var(--main-color);
  height: 43px;
  padding-top: 5px;
}

.toolbar-title {
  color: #fff;
  display: block;
  font-size: 1.8em;
  margin-left: 8px;
}

.toolbar-menu-button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 36px;
  height: 33px;
  padding-top: 2px;
  cursor: pointer;
  border-radius: 1px;
  -webkit-transition: background 0.1s;
  transition: background 0.1s;
}

.toolbar-menu-button:hover {
  background: #fff;
}

.toolbar-menu-button-burger {
  width: 26px;
  height: 4px;
  margin: 0 auto;
  margin-top: 4px;
  background: #fff;
  -webkit-transition: background 0.1s;
  transition: background 0.1s;
}

.toolbar-menu-button:hover .toolbar-menu-button-burger {
  background: var(--main-color);
}

/* toolbar menu */

.toolbar-menu-holder {
  position: absolute;
  top: -205px;
  right: 0px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-right: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
  background: #fff;
  -webkit-transition: transform 0.2s;
  transition: transform 0.2s;
}

.toolbar-menu-item {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);

  margin: 0 auto;
  margin-bottom: 12px;
  height: 40px;
  width: 80%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  text-align: center;
  padding-top: 8px;
  cursor: pointer;
  font-size: 19px;
  -webkit-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;
}

.toolbar-menu-item:hover {
  background: var(--main-color);
  color: white;
}

/* toolbar content */

.toolbar-content {
  position: absolute;
  top: 43px;
  width: 100%;
  height: calc(100% - 86px);
  padding-bottom: 15px;
  overflow-y: auto;
  background: white;
  border-right: 1px solid var(--main-color);
}

.content-container {
  position: absolute;
  top: 0px;
  right: 0px;
  overflow-y: auto;

  height: 100%;
  width: calc(100% - 300px);

  -webkit-transition: transform 0.6s, opacity 0.6s, width 0.6s;
  transition: transform 0.6s, opacity 0.6s, width 0.6s;
}

.toolbar-content-item {
  position: relative;
  cursor: pointer;

  width: 240px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 5px;

  text-align: center;
  font-size: 15px;

  -webkit-transition: background 0.1s, color 0.1s;
  transition: background 0.1s, color 0.1s;
}

.toolbar-content-item:hover {
  background: var(--main-color);
  color: #fff;
}

.toolbar-content-item-img {
  background: white;
  height: 126px;
  width: 100%;
  margin-bottom: 8px;
  background-size: cover;
  background-position: center;
  border: 1px solid var(--main-color);
}
